*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: arial;
}

section{
	padding: 80px 0;
}

h1{
	color: #fff;
	font-size: 45px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h2{
	font-size: 30px;
	text-transform: uppercase;
}

p{
	color: grey;
	margin-bottom: 20px;
	line-height: 1.4;
	font-size: 14px;
}

hr{
	width: 60px;
	margin: 15px 0;
	border: 2px solid #277CFF !important;
}

img{
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

.btn{
	background-color: #277CFF;
	color: white;
	text-decoration: none;
	border-radius: 6px;
	text-transform: capitalize;
	padding: 10px 15px;
	display: inline-block;

	transition: 1s;
}

.btn:hover{
	background-color: gold;
	color: black;
	border-radius: 20px;
}

.container{
	border: 3px dashed black;
	max-width: 900px;
	margin: 0 auto;
	width: 90%;
}

.page-header{
	padding: 40px 0;
	background: lavender;
	text-align: center;
}

.top-nav{
	display: flex;
	justify-content: center;
	gap: 40px;
}

.top-nav a{
	margin-left: 30px;
	margin-right: 30px;
	text-decoration: none;
	color: navy;
	font-weight: 700;
}

.banner{
	padding: 250px 0;
	background: lightgrey;
	text-align: center;
	background-image: url(https://abstracthdwallpapers.files.wordpress.com/2012/07/black-and-white-architecture-photography-1920x1080.jpg);
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 0, 0, 60%);
	background-blend-mode: multiply;
}

.banner .container{
	max-width: 650px;
}

.banner p{
	font-size: 19px;
	margin: 16px 0;
	color: gold;
}

.about{
	background: #e4e4e4;
}

.beautiful{
	border: 10px solid magenta;
}

.flex-about{
	border: 6px solid green;
	display: flex;
	gap: 100px;
/*	align-items: center;*/
}

.about-left{
	border: 6px solid red;
	width: 50%;
	padding-top: 30px;
}

.about-right{
	border: 6px solid blue;
	width: 50%;
	background-image: url(https://blog.cirquedusoleil.com/-/media/blog/bl_city_articles/los-angeles/los-angeles-architecture/hero/walt_disney_concert_hall_hero_2.jpeg?db=web&h=600&vs=1&w=600&hash=179B3F194B93AAA87251F75A6A5B9C40);
	background-size: cover;
	background-position: center;
	height: 350px;
}

.about-right img{
	max-width: 100%;
	height: auto;
	display: block;
}

.projects{
	background: #ffffff;
	text-align: center;
}

.section-heading{
	border: 6px solid red;
	max-width: 600px;
	margin: 0 auto 40px;
}

.projects hr{
	margin: 15px auto;
}

.grid-projects{
	border: 6px solid blue;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.card-project{
	border: 5px solid red;
	height: 250px;
	
	background-position: center;
	background-size: cover;
	box-shadow: 2px 2px 5px black;

	overflow: hidden;
}

.card-project:nth-of-type(1){
	background-image: url(https://blog.cirquedusoleil.com/-/media/blog/bl_city_articles/los-angeles/los-angeles-architecture/hero/walt_disney_concert_hall_hero_2.jpeg?db=web&h=600&vs=1&w=600&hash=179B3F194B93AAA87251F75A6A5B9C40);
}

.card-project:nth-of-type(2){
	background-image: url(https://howtorhino.com/wp-content/uploads/2025/07/Bauhaus-Modern-Architecture-v2-3.webp);
}

.card-project:nth-of-type(3){
	background-image: url(https://99percentinvisible.org/wp-content/uploads/2017/06/filip_dujardin_07-600x600.jpg);
}

.card-project:nth-of-type(4){
	background-image: url(https://www.visitcopenhagen.com/sites/visitcopenhagen.com/files/styles/article_teaser/public/2019-08/8Tallet%20%C3%98restad.jpg?h=3dbd9eac&itok=bGeuqvpz);
}

*{
	border: none !important;
}

/*MEDIA QUERIES*/
/*Don't change the breakpoints*/
/*Breakpoint 1000px*/
@media only screen and (max-width: 992px){
	section{
		padding: 70px 0;
	}

	.banner{
		padding: 220px 0;
	}

	.flex-about{
		gap: 45px;
	}

	.card-project{
		height: 210px;
	}
}

/*Breakpoint 700px*/
@media only screen and (max-width: 768px){
	section{
		padding: 50px 0;
	}

	h1{
		font-size: 36px;
	}

	h2{
		font-size: 23px;
	}

	.banner{
		padding: 190px 0;
	}

	.flex-about{
		gap: 30px;
	}

	.grid-projects{
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 15px;
	}

	.card-project{
		height: 180px;
	}
}

@media only screen and (max-width: 576px){
	section{
		padding: 40px 0;
	}

	h1{
		font-size: 30px;
	}

	.banner{
		padding: 150px 0;
	}

	.banner p{
		font-size: 15px;
	}

	.flex-about{
		flex-direction: column-reverse;
		gap: 15px;
	}

	.about-left,
	.about-right{
		width: 100%;
	}

	.about-left{
		padding-top: 0;
	}

	.about-right{
		height: 250px;
		background-position-y: 10%;
	}

	.grid-projects{
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
	}

	.card-project{
		height: 150px;
	}
}

/*Optional (but very accepted currently) final breakpoint*/
@media only screen and (max-width: 480px){
	section{
		padding: 30px 0;
}

	h1{
		font-size: 25px;
	}

	.banner{
		padding: 120px 0;
	}
}



















